
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    flex-direction: column;
    display: flex;
    
    
}
.nav span{
    color: #FF6464;
}
.nav a{
    text-decoration: none;
}
.nav p{
    font-size: 29px;
    
    cursor: pointer;
    font-family:  "Ubuntu", sans-serif; 
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #21243D;
}
.con{
    text-decoration: none;
    color: #21243D;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #ffffff;;
    position: sticky;
    top: 0;
    align-items: center;
    width: auto;
    height: 60px;
    margin-bottom: none;
    z-index: 1000;

}
.nav ul{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 35px;

    font-family: "Ubuntu", sans-serif;    
}
.nav ul li{
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    font-weight: 700;
}
#menu{
    display: none;
}

.menu{
    display: none;
    
    

}




/* end of nav bar */


.hero{
    display: flex;
    gap: 300px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: auto;
    

}

.herotext h3{
    margin-top: 100px;
    font-family: "Ubuntu", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    width: 490px;
    height: 105px;
    margin-bottom: 42px;
}
.herotext h5{
    
    font-family: "Ubuntu", sans-serif;  
    font-size: 19px;
    line-height: 23.5px;
    width: 600px;
    height: 71px;
    font-weight: 400;
}  


#herobtn{
    margin-top: 44px;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    width: 213px;
    border: none;
    background-color: #FF6464;
    height: 52px;
    font-family: "Ubuntu", sans-serif;;
    margin-bottom: 100px;
}
.heroimg img{
    border-radius: 100%;
    width: 260px;
    margin-top: 100px;

}
/* 
......second phase begin now.....
*/
#secondphase{
    height: 480px;
    width: auto;
    background-color: #EDF7FA;
    padding-top: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
#secondphase h4{
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
    color: #21243D;
    font-size: 21px;
    
}
.box{
    width: 570px;
    height: 350px;
    background-color: white;
    padding: 30px 35px 0px 35px;
    
}
#rr{
    text-align: end;
    color: #00A8CC;
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 400;
}
.box h3{
    font-size: 35px;
    color: #21243D;
    font-weight: 700;
    line-height: 48.9px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 18px;

}
.box h6{
    font-family: "Ubuntu", sans-serif; 
    font-size: 20px;
    font-weight: 400;
    color: #21243D;
    line-height: 27px;
    margin-top: none;
}
.line{
    display: flex;
    gap: 20px;
    
}
.line h5{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #21243D;

}
.line hr{
    margin-bottom: 28px;
    height: 29px;
    border: 0.7px solid #21243D;
    width: 1px;

    display: flex;
   
    

}
.full{
    display: flex;
    gap: 30PX;
}

/* .....end of second phase ......
*/

#h3{
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 10px;
    padding-top: 35px;
    font-weight: 500;
    font-size: 22px;
}
.boxit{
    display: flex;
    gap: 20px;
    margin-bottom: none;
    padding-bottom: 20px;
    padding-top: 25px;
    border-bottom: 1.1px solid #8695A4;
    
    
}

.boxitin{
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
    align-content: center;
}
#tt{
    text-transform: capitalize;
    color: #8695A4;
    font-weight: 400;
}
.all{
    display: flex;
    flex-direction: column;
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    width: 797px;
    height: 257px;
    
}
.all h2{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 25px;
}
.all h3{
    
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    
    
}
#bottomphase{
    justify-content: center;
    display: flex;
    width: auto;
    height: 1050px;
}

.img img{ 
    width: 350px;
    display: flex;
}
#bb{
    color: white;
    background-color: #21243D;
    width: 70px;
    height: 30px;
    text-align: center;
    
    border-radius: 20px;
    font-size: 14px;
}
/* -----END OF THE BOTTOM PHASE-----

*/

/* 
footer phase begin
*/
#foot{
    width: auto;
    height: 270px;
    background-color: white;
    padding-top: 50px;
}
.logo{
    display: flex;
    gap: 36px;
    
}
.logo img{
    width: 40px;
    height: auto;
    
}

.footer h3{
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    font-weight: 480;
    font-size: 16px;
    margin-top: 25px
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 768px) {

    
}

@media (max-width: 600px) { 
    
    .nav p{
        font-weight: 900;
         font-size: 23px;
     
     }
 .nav{
     display: flex;
     height: 10px; 
     justify-content: none;
     padding: 30px 35px;
     
  
 }

      
.nav ul{
    gap: 35px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35%;
    padding-right: 15px;
    padding-top: 70px;
    padding-left: 30px;
    height: 100vh;
    background-color: red;
    align-items: end;
    z-index: 100;
    transition: all 0.2s ease-in-out;
   
}
.nav ul li{
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    font-weight: 700;
}
#menu{
    display: flex;
    color: rgb(0, 0, 0);
    margin-left: 260px;        
        
}
   
.menu{
    display: block;
    padding: 30px 35px;
}
.open-menu img{
    display: block;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 11px;
}

.close-menu img{
    display: block;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 11px;
    
    
}
.menu #check{
    position: absolute;
    /* appearance: none; */
    height: 30px;
    width: 30px;
    right: 12px;
    top: 13px;
}
#check:checked ~ .nav ul{
    right: 0;
}




    /* hero section */
    .hero {
        display: flex;
        gap: 0px;
        flex-direction: column-reverse;
        
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: auto;
        text-align: center;
    }
    
.herotext h3{
    display: flex;
    font-size: 40px;
    line-height: 45px;
    width: 350px;
    height: 145px;
    margin-top: 42px;
}
.herotext h5{
    
    font-family: "Ubuntu", sans-serif;  
    font-size: 18px;
    line-height: 23.5px;
    width: 380px;
    height: 71px;
    font-weight: 400;
}  
.herotext{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}d


.heroimg img{
    border-radius: 100%;
    width: 250px;
    margin-top: 100px;

}
#herobtn{
    margin-bottom: 40px;
}

/* phase 2 */
#secondphase{
    height: 740px;
    width: auto;
    background-color: #EDF7FA;
    padding-top: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
#secondphase h4{
    text-align: center;
}
.box{
    width: 390px;
    height: 300px;
    background-color: white;
    padding: 10px 15px 0px 15px;
    overflow: hidden;
    
}
#rr{
    display: none;
}
.box h3{
    font-size: 23px;
    color: #21243D;
    font-weight: 700;
    line-height: 32px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 18px;

}
.full{
    display: flex;
    flex-direction: column;
    gap: 30PX;
}





.all{
    width: 370px;
    height: 300px;
    /* background-color: red; */
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1.1px solid #8695A4;  
}


.all h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.img{
    align-self: center;
}

#bottomphase{

    height: 950px;
}
.diver{

    background-color: rgb(255, 255, 255);
}

#h3 {
    font-weight: 500;
    text-align: center;
}
.boxit{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: none;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: none;
}








#foot{
    z-index: -999;
    width: auto;
    height: 1200px;
    
    padding-top: 1000px;
}



}