:root{
    --websitecolor:var(--websitecolor)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    flex-direction: column;
    display: flex;
    
    
}
#active{
    color: #FF6464;
}

.nav{

    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #ffffff;;
    align-items: center;
    position: sticky;
    top: 0;
    width: auto;
    height: 60px;
    margin-bottom: none;
    z-index: 1000;

}
.nav a{
    text-decoration: none;
    
}
.con{
    text-decoration: none;
    color: #21243D;
}
.nav span{
    color: #FF6464;
}
.nav p{
    font-size: 29px;
    font-family:  "Ubuntu", sans-serif; 
    display: flex;
    font-weight: 600;
    color: #21243D;
    cursor: pointer;
}
.nav ul{
    text-decoration: none;
    color: black;
    display: flex;
    gap: 35px;
    
    font-family: "Ubuntu", sans-serif;    
}

.nav ul li{
    user-select: none;
    cursor: pointer;
    display: flex;
    
    text-transform: capitalize;
    font-weight: 700;
}
#menu{
    display: none;
}
/* end of nav bar */




/* .....bottom phase ......
*/
.diver a{
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}
#h3{
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 10px;
    padding-top: 35px;
    font-weight: 500;
    font-size: 22px;
}
.boxit{
    display: flex;
    gap: 20px;
    margin-bottom: none;
    padding-bottom: 20px;
    padding-top: 25px;
    border-bottom: 1.1px solid #8695A4;
    
    
}

.boxitin{
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
    align-content: center;
}
#tt{
    text-transform: capitalize;
    color: #8695A4;
    font-weight: 400;
}
.all{
    display: flex;
    flex-direction: column;
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    width: 797px;
    height: 257px;
    
}
.all h2{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 25px;
}
.all h3{
    
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    
    
}
#bottomphase{
    justify-content: center;
    display: flex;
    width: auto;
    height: 1350px;
}

.img img{ 
    width: 350px;
    display: flex;
}
#bb{
    color: white;
    background-color: #21243D;
    width: 70px;
    height: 30px;
    text-align: center;
    
    border-radius: 20px;
    font-size: 14px;
}
/* -----END OF THE BOTTOM PHASE-----

*/

/* 
footer phase begin
*/
#foot{
    width: auto;
    height: 270px;
    background-color: white;
    padding-top: 50px;
}
.logo{
    display: flex;
    gap: 36px;
    
}
.logo img{
    width: 40px;
    height: auto;
    
}

.footer h3{
    color: #21243D;
    font-family: "Ubuntu", sans-serif;
    font-weight: 480;
    font-size: 16px;
    margin-top: 25px
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}




@media (max-width: 768px) {

    
}

@media (max-width: 600px) { 
    .nav p{
       font-weight: 900;
        font-size: 23px;
    
    }
.nav{
    display: flex;
    height: 10px; 
    justify-content: none;
    padding: 20px 35px;
    background-color: white;
    
 
}
.nav ul{
    display: none;
      
}
 
#menu{
    display: flex;
    color: rgb(0, 0, 0);
    margin-left: 260px;        
        
}
   
/* end of nav bar */


.all{
    width: 370px;
    height: 300px;
    /* background-color: red; */
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1.1px solid #8695A4;  
}


.all h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.img{
    align-self: center;
}

#bottomphase{

    height: 1500px;
}
.diver{

    background-color: rgb(255, 255, 255);
}

#h3 {
    font-weight: 500;
    text-align: center;
}
.boxit{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: none;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: none;
}


/* bootom end */




#foot{
    z-index: -999;
    width: auto;
    height: 1200px;
    
    padding-top: 1000px;
}

}